@use "../../../../shared/styles/variables" as v;

.user-security {
  height: 100%;
  max-height: 90vh;
  @media (max-width: 480px) {
    min-height: 90vh;
  }

  .p-card {
    border-radius: 1rem;
    font-family: "Nunito", sans-serif;
    background-color: v.$light-indigo;
    .p-card-content {
      padding: 0;
    }
  }

  .p-panel {
    margin-bottom: 1rem;

    .p-panel-header {
      background-color: v.$light-plus-indigo;
    }
  }

  span {
    font-weight: bold;
    color: v.$dark-indigo;
  }
}
