.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.print-container{
    
}

.price{
    background-color:gray;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    margin: auto;
    width: 3em;
}

.main-print{
    background-color: #101141;
    color: white;
    border-radius: 10px;
    height: 3rem;
    margin: auto;
}

p{
    font-size: large;
}