.sub-info p{
    font-size: large;
    color: white;
    border-radius: var(--border-radius);
}

.perso-color-gray{
    background-color:#a0a0a6;
}

.perso-color-blue{
    background-color: #282960;
    border-color: #282960;
}

.perso-color-black-blue{
    background-color: #101141;
}