@use "../../../../shared/styles/variables" as v;

.user-favorites {
  height: 100%;

  .p-card {
    border-radius: 1rem;
    font-family: "Nunito", sans-serif;
    background-color: v.$light-indigo;
    .p-card-content {
      padding: 0;
    }
  }

  .p-panel {
    margin-bottom: 1rem;
  }

  span {
    font-weight: bold;
    color: v.$dark-indigo;
  }
}
