@use "../../../shared/styles/variables" as v;

.services {
  height: 100vh;
  width: 100%;

  background-color: v.$light-indigo;
  color: v.$dark-indigo;

  padding: 3rem 10rem;

/*  .p-divider-content {
    background-color: v.$light-indigo;
  }

  button {
    background-color: v.$dark-indigo;
  }*/
}
