
<<<<<<< HEAD
.contact-form-dialog{
    background-color: white
}
.space-text{
    margin-top: 15px;
}
.errors-text-color{
    color: red;
=======
.space-text{
    margin-top: 15px;
}

.errors-text-color{
    color: red;

>>>>>>> fb694ea6e5a6c93dcee03be202ea037ae614289e
}