@use "../../shared/styles/variables" as v;

.user {
  height: 90vh;
  background-color: v.$light-indigo;

  .user-container {
    height: 100%;
    padding: 1.5rem;

    display: grid;
    grid-template-columns: 1fr 4fr;

    font-family: "Nunito", sans-serif;
    background-color: var(--indigo-100);
  }
}
