@use "../../shared/styles/variables" as v;

.user {
  height: 90vh;
  background-color: v.$light-indigo;

  .user-container {
    height: 100%;
    padding: 1.5rem;

    display: grid;
    grid-template-columns: 1fr 4fr;

    font-family: "Nunito", sans-serif;
    background-color: var(--indigo-100);

    .user-sidenav {
      .sidenav-header {
        background-color: v.$light-indigo;
        border-radius: 1rem;

        display: flex;
        padding: 1.5rem 2rem;
        margin-bottom: 0.5rem;
        margin-right: 1rem;

        img {
          height: 64px;
          width: 64px;

          margin-right: 1rem;
        }

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            font-size: 1rem;
            color: var(--indigo-400);
          }
        }
      }

      .sidenav-contents {
        // background-color: v.$light-indigo;
        padding: 1rem;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;

        button {
          background-color: var(--indigo-100);
          color: v.$dark-indigo;
          border: none;
          text-align: start;

          .p-button-icon {
            margin-right: 2rem;
          }
        }

        .p-divider {
          border-color: v.$dark-indigo;
        }
      }
    }

    .user-contents {
      .p-card {
        border-radius: 1rem;
        font-family: "Nunito", sans-serif;
        background-color: v.$light-indigo;
        .p-card-content {
            padding: 0;
        }
      }

      .p-panel {
        margin-bottom: 1rem;
      }

      span {
        font-weight: bold;
        color: v.$dark-indigo;
      }
    }
  }
}
