@use "../../../../shared/styles/variables" as v;

.user-invoices {
  //max-height: 90vh;
  height: 100%;
  max-height: 90vh;

  .p-card {
    border-radius: 1rem;
    font-family: "Nunito", sans-serif;
    background-color: v.$light-indigo;
    .p-card-content {
      padding: 0;
    }
  }

  .p-panel {
    margin-bottom: 1rem;
  }

  span {
    font-weight: bold;
    color: v.$dark-indigo;
  }

  .p-datatable {
    max-height: 70vh;
    .p-datatable-thead tr th {
      background-color: v.$light-plus-indigo;
    }
  }

  .actions {
    button:first-of-type {
      margin-right: 1rem;
    }
  }
}
